<a href="https://colab.research.google.com/github/thegeekcat/thegeekcat.github.io/blob/master/Python_01_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ('Hello World!')

Hello World!

In [ ]:
# 변수 규칙
a = 1
b = 2

#2a = 3 항상 변수는 문자로 시작해야 함
student_count = 101
print(a * b, student_count)

2 101

In [ ]:
friend = 1
Friend = 10

print ("friend: ", friend)
print ("Friend: ", Friend)

friend:  1
Friend:  10

In [ ]:
# 숫자형
year = 2023
month = 4

print(year, month)

year = 'Test'

print(year)

print(type(year))

2023 4
Test
<class 'str'>

In [ ]:
# 8진수
# 정수 앞에 0o를 붙이면 8진수

print(0o10)

# 정수 앞에 0b를 붙이면 2진수
print (0b10)

# 정수 앞에 0x를 붙이면 16진수
print(0x10)

8
2
16

In [ ]:
# 다음은 10진수를 받아서 각 진수로 변환하는 방법 (결과가 문자형)


print (oct(38)) # 10진수 38을 8진수로 변환
print (hex(38)) # 10진수 38을 16진수로 변환
print (bin(38)) # 10진수 38을 2진수로 변환

0o46
0x26
0b100110

In [ ]:
# 파이썬의 정수타입
print (type(1)) # int
print (type(2**31)) # 2의 31승: 파이썬 3.0에서 int형으로 정수형 통합 (long 형 없어짐) -> 단점 메모리 낭비 증가

<class 'int'>
<class 'int'>

In [ ]:
# 실수의 표현
print(type(3.14))
print(type(3.14e-2))
print(type(3 - 4j)) #복소수

x = 3 - 4j
print(x.imag) # imag는 허수부
print(x.real) # real은 실수부
print(x.conjugate()) #conjugate는 켤레 복소수 확인

<class 'float'>
<class 'float'>
<class 'complex'>
-4.0
3.0
(3+4j)

In [ ]:
# 원의 넓이와 삼각형 넓이 구하기

r = 2

circle_area = (r ** 2) * 3.14
print(circle_area)

x = 3
y = 4
triangle_area = x * y / 2
print(triangle_area)

12.56
6.0

In [ ]:
# 문자형 실습
print('Hello World!')
print("Hello World!")
print("Welcome to 'Python World'")
print('''
      Do What You Love
''')

Hello World!
Hello World!
Welcome to 'Python World'

      Do What You Love

In [ ]:
print('\t Tab \n Next Line')

	 Tab
 Next Line

In [ ]:
print('py' 'thon')
print('py' + 'thon') 
print('py', 'thon')

python
python
py thon

In [ ]:
print('py' * 3)

pypypy

In [ ]:
a = 'Python'

print(a[0])
print(a[0+1])
print(a[0+2])

P
y
t

In [ ]:
a[0] = 'A' # Index는 real-only속성이라 수정은 불가능함

TypeError: ignored

In [ ]:
# index를 이용해서 범위 설정 가능
print(a[0:1])
print(a[0:2])

print(a[:3]) #생략 가능
print(a[3:]) 

# P y t h o n
# 0 1 2 3 4 5

print(a[-3:]) # 끝에있는 세자리만  e.g. 제품번호 사용
print(a[:-3]) # 앞에있는 세자리만

print(a[::2]) # 2씩 증가

P
Py
Pyt
hon
hon
Pyt
Pto

In [ ]:
# 데이터 타입 변환
print(str(3.14)) #문자형으로 변환
print(int('49')) #정수형으로 변환
print(float(23)) #실수형으로 변환

3.14
49
23.0